.login-card {
  width: 25%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin-bottom: 2rem;
}

.login-header {
  display: flex;
  background-color: #2f77f3;
}

.login-form {
  width: 100%;
  margin-bottom: 0;
}

.login-input {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 80%;
  margin-bottom: 1rem;
  color: #2f77f3;
  border: 0.25px solid #2f77f3;
}

.login-input ::-webkit-input-placeholder {
  /* Edge */
  color: #2f77f3;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #2f77f3;
}

::placeholder {
  color: #2f77f3;
}

.login-button {
  margin-left: 6%;
}

.login-footer {
  display: flex;
  justify-content: center;
  background-color: #2f77f3;
}

.login-footer-text {
  text-align: center;
}

.login-footer-link {
  cursor: pointer;
  color: white;
  text-decoration: none;
  text-align: center;
}

.login-footer-link:hover {
  color: #d3e3fc;
  text-decoration: underline;
  background-color: transparent;
}

@media (max-width: 1200px) {
  .login-card {
    margin-top: 20%;
    width: 40%;
  }
}

@media (max-width: 700px) {
  .login-card {
    margin-top: 30%;
    width: 60%;
  }
}
