.billing-container {
  position: absolute;
  bottom: 0;
  top: 73px;
  width: 100% !important;
}

.element {
  color: white;
}

.card {
  opacity: 0.9;
}

.PurchaseCard {
  border: 1px solid black;
  display: flex;
  height: 80%;
}

.BillingContainer {
  text-align: left;
}

.BuyButton {
  text-align: center;
}

.billing-button {
  margin-right: 10px;
  background-color: #2f77f3;
  color: white;
  padding: 6px;
  border-radius: 5px;
}

.billing-button:focus {
  background-color: #00887a;
  color: white;
}

.btn-primary {
  margin: 20px;
}
